{% extends 'base.html' %}

{% block title %}
{{ question.name }}
{% endblock %}

{% block content %}

<div class="d-flex" id="wrapper">

    {% include 'questions/navbar.html' %}

    <div id="page-content-wrapper">

        {% include 'questions/topbar.html' %}
  
        <div class="container-fluid">
            <br>
            <p>{{ question.body }}</p>
        </div>

        {% include 'questions/images.html' %}

        {% include 'questions/files.html' %}

    </div>
    <!-- /#page-content-wrapper -->  
</div>

{% endblock %}
