{% extends 'base.html' %}

{% block title %}
    {{ this_question.name }}
{% endblock %}


{% block content %}

    <div class="d-flex" id="wrapper">

        {% include 'questions/navbar.html' %}

        <div id="page-content-wrapper">

            {% include 'questions/topbar.html' %}

            <div class="container-fluid">
                <br>
                <p class="p-2">{{ this_question.body }}</p>

                {% include 'questions/images.html' %}

                <br>

                {% include 'questions/files.html' %}

                <div class="input-group mb-3">
                    <div class="m-2">
                        <input type="text" class="form-control" placeholder="Enter your answer here" size="50">
                    </div>
                    <button class="btn btn-danger btn-lg">Submit</button>
                </div>
            </div>

        </div>
        <!-- /#page-content-wrapper -->
    </div>

{% endblock %}
