{% extends 'base.html' %}

{% block title %}
Register
{% endblock %}

{% block content %}

<div class="container">
    <div class="form register-form">
        <div class="note p-4 mt-5 text-center">
            <h3>Register your team here</h3>
        </div>
        <br>
        <form class="form-content" method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <h5>Enter your team details</h5>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Team Name *" value="" name="teamname"
                            required />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Enter your password *" value=""
                            name="password1" required />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Confirm your password *" value=""
                            name="password2" required />
                    </div>
                </div>
            </div>
            <hr />
            <h5>Enter participants' details</h5>
            <div class="row">
                <div class="col-md-6">
                    <h6>Participant 1</h6>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name of First Parcticipant" value=""
                            name="name1" required />
                    </div>
                    <div class="form-group">
                        Year
                        <br>
                        <input type="radio" value="1" name="year1" required /> 1st
                        <br>
                        <input type="radio" value="2" name="year1" required /> 2nd
                        <br>
                        <input type="radio" value="3" name="year1" required /> 3rd
                        <br>
                        <input type="radio" value="4" name="year1" required /> 4th
                    </div>
                    <br>
                    <div class="form-group">
                        <select name="dept1" required>
                            <option value="" selected disabled>--department--</option>
                            <option value="CSE">CSE</option>
                            <option value="ECE">ECE</option>
                            <option value="IT">IT</option>
                            <option value="AEIE">AEIE</option>
                            <option value="ME">ME</option>
                            <option value="EE">EE</option>
                        </select>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="Phone Number *" value="" name="phone1"
                            required />
                    </div>
                </div>
                <div class="col-md-6">
                    <h6>Participant 2</h6>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name of First Parcticipant *" value=""
                            name="name2" required />
                    </div>
                    <div class="form-group">
                        Year
                        <br>
                        <input type="radio" value="1" name="year2" required /> 1st
                        <br>
                        <input type="radio" value="2" name="year2" required /> 2nd
                        <br>
                        <input type="radio" value="3" name="year2" required /> 3rd
                        <br>
                        <input type="radio" value="4" name="year2" required /> 4th
                    </div>
                    <br>
                    <div class="form-group">
                        <select name="dept2" required>
                            <option value="" selected disabled>--department--</option>
                            <option value="CSE">CSE</option>
                            <option value="ECE">ECE</option>
                            <option value="IT">IT</option>
                            <option value="AEIE">AEIE</option>
                            <option value="ME">ME</option>
                            <option value="EE">EE</option>
                        </select>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="Phone Number *" value="" name="phone2"
                            required />
                    </div>
                </div>
            </div>
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-success btn-lg">Register</button>
            </div>
            <div class="text-center mt-4">
                Already regisered? <a href="{% url 'login' %}">Login</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}